name: Build and Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v2

    - name: Set up JDK 17
      uses: actions/setup-java@v3
      with:
        java-version: '17'
        distribution: 'corretto'

    - name: Build with Maven
      run: mvn clean package -DskipTests

    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v1
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ap-south-1

    - name: Deploy to S3 and CodeDeploy
      run: |
        echo "Bundling code..."
        # Zip everything including the new 'target' folder containing the jar
        zip -r deploy.zip . -x "*.git*" "terraform/*"

        echo "Uploading to S3..."
        aws s3 cp deploy.zip s3://cicd-artifacts-3f62b38f/deploy.zip

        echo "Triggering CodeDeploy..."
        aws deploy create-deployment \
          --application-name Lift-and-Shift-App \
          --deployment-config-name CodeDeployDefault.OneAtATime \
          --deployment-group-name Lift-and-Shift-DG \
          --s3-location bucket=cicd-artifacts-3f62b38f,bundleType=zip,key=deploy.zip